@model oddo.ViewModel.EmployeeViewModel
<link href="/css/detail.css" rel="stylesheet" />


<div class="container-fluid" style=" margin-top: 56px;
        background: #fff;
        padding-top: 8px;
        padding-bottom: 8px;
">
    <nav aria-label="breadcrumb" class="">
        <ol class="breadcrumb bg-white">
            <li class="breadcrumb-item"><a href="/home/index">Employee</a></li>
            @foreach (var item in Model.BreadCrumbsEmployees)
            {
                @if (item != null && item.Id != Model.Employee.Id)
                {
                    <li class="breadcrumb-item"><a href="/home/details?id=@(item.Id)">@item.Name</a></li>

                }
                if (item != null && item.Id == Model.Employee.Id)
                {
                    <li class="breadcrumb-item"><a>@Model.Employee.Name</a></li>
                }
            }

        </ol>
    </nav>
    <div class="row ml-3">
        <br />
        <a href="/home/CreateEmployee/@Model.Employee.Id" class="btn btn-info ml-2">Edit</a>
        <a href="/home/CreateEmployee" class="btn btn-success ml-2">Create</a>
        <button type="button" class="btn btn-danger ml-2" data-toggle="modal" data-target="#DeleteModal">
            Delete
        </button>


    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-8 border-right">
            <div class="card ">
                <table class="table table-bordered float-right">
                    <tr>
                        <td style="width:750px;"></td>
                        <td class="p-2" style="width: 120px;">
                            <i class="fa fa-fw  fa-book" style="display:inline;"></i>
                            <p style="display:inline;">1</p>
                            <p style="display:inline;">Contracts</p>
                        </td>
                        <td style="width: 160px;">

                            <i class="fa fa-fw o_button_icon fa-calendar"></i>
                            <p style="display:inline;">22 Days</p>
                            <p style="display:inline;">Time OFF</p>
                        </td>
                        <td style="width: 120px;">
                            <i class="fas fa-money-bill"></i>
                            <p style="display:inline;">2</p>
                            <p style="display:inline;">Payslips</p>

                        </td>
                        <td style="width: 135px;">
                            <i class="fas fa-file-invoice"></i>
                            <p style="display:inline;">0</p>
                            <p style="display:inline;">Documents</p>
                        </td>
                    </tr>

                </table>
                <div class="card-body mt-0 pt-0">
                    <div style="background-image:url(@Model.employeeImage);width:92px;height:123px; background-repeat: no-repeat; background-size:cover;float:right"></div>
                    <h1 class="card-title">@Model.Employee.Name</h1>
                    <p class="card-text">@Model.Job.Name</p>
                    @{var i = 0; }
                    @foreach (var item in Model.Tags)
                    {
                        <div class="alert @(i == 0 ? "alert-success" : "alert-secondary") " style="padding:0.25px;display:inline;padding:3px;border-radius:25px;font-size:13px;font-weight:bold;">
                            @item.Name
                        </div>
                        i++;
                    }

                    <div class="container m-0 p-0 mt-4" style="margin-top:19px">
                        <div class="row">
                            <div class="col-6">

                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Mobile Phone </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="card-text">@Model.Employee.MobilePhone</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Work Phone </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="card-text">@(Model.Employee.WorkPhone ?? "Not available")</p>
                                    </div>
                                </div>




                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Work Email </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="card-text">@Model.Employee.WorkEmail</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Work Location </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="card-text">@Model.Employee.WorkLocation</p>
                                    </div>
                                </div>

                            </div>
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Department </p>
                                    </div>
                                    <div class="col-lg-8 ">
                                        <p class="card-text">@Model.Departmente?.CompleteName</p>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Job Position </p>
                                    </div>
                                    <div class="col-lg-8">
                                        <p class="card-text">@Model.Job.Name</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 b">
                                        <p class="card-text">Maneger</p>
                                    </div>
                                    <div class="col-lg-8">
                                        <a asp-action="details" asp-route-id="@Model.Maneger.Id">
                                            <p class="card-text">@Model.Maneger.Name </p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>

                    <ul class="nav nav-tabs mt-5" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Work Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Private Information</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="HR-tab" data-toggle="tab" href="#HR" role="tab" aria-controls="HR" aria-selected="false">HR Settings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="Personal-tab" data-toggle="tab" href="#Personal" role="tab" aria-controls="Personal" aria-selected="false">Personal Documents</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab" style=margin-left: 460px;">
                            <h5 style="margin-left: 450px;">Skills</h5>


                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-8 border-right ">
                                        <h5 class="mt-5">Location</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Work Address</p>

                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Employee.WorkLocation</p>

                                        <h5 class="mt-5">Responsibles</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Coach</p>
                                        <a href="/home/details?id=@(@Model.Coach.Id)">
                                            <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Coach.Name</p>
                                        </a>
                                        <br />

                                        <p class="card-text" style="display: inline;font-weight: bold;">Time OFF</p>
                                        <p class="card-text" style="display: inline;margin-left: 60px;">
                                            <a href="/home/secondarydetail?id=@(@Model.TimeOff.Id)">
                                                @Model.TimeOff.Name
                                            </a>

                                        </p>

                                        <br />
                                        <p class="card-text disabled" style="display: inline;font-weight: bold; color: gray;">Expense</p>
                                        <p class="card-text disabled" style="font-weight: bold; color: gray;">TimeSheet</p>
                                        <h5 class="mt-5">Schedule</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Working Hours</p>

                                        <p class="card-text" style="display: inline;margin-left: 47px;">@Model.ResourceCalendar.Name</p>
                                        <br />
                                        <p class="card-text" style="display: inline;font-weight: bold;">Timezone</p>

                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Timezone.Tz</p>
                                    </div>
                                    <div class="col-4">
                                        <h5 class="m-4">Organization Chart</h5>
                                        <ol class="timeline">
                                            @foreach (var item in Model.EmployeeTree)
                                            {

                                                if (item.Id == Model.Employee.Id)
                                                {
                                                    <li id="w">
                                                        <div>
                                                            <a style="font-size:smaller;font-weight:bold;">
                                                                @item.Name
                                                            </a>
                                                            <p>@item.Job.Name</p>
                                                        </div>
                                                    </li>
                                                    foreach (var employee in Model.EmployeeWithSameManeger)
                                                    {
                                                        <li>
                                                            <div>
                                                                <a style="font-size:smaller;font-weight:bold" href="/home/details?id=@(employee.Id)">
                                                                    @employee.Name

                                                                </a>
                                                                <p>@(employee.Job.Name??employee.JobTitle)</p>
                                                            </div>
                                                        </li>
                                                    }


                                                }
                                                else
                                                {

                                                    <li>
                                                        <div>
                                                            <a style="font-size:smaller;font-weight:bold" href="/home/details?id=@(item.Id)">
                                                                @item.Name
                                                            </a>
                                                            <p>@item.Job.Name</p>
                                                        </div>
                                                    </li>


                                                }

                                            }
                                        </ol>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-6">
                                        <h5 class="mt-5">Private Contact</h5>
                                        <p class="card-text" style="font-weight: bold;color: gray;"> Address</p>
                                        <p class="card-text " style="font-weight: bold;color: gray;">Email</p>
                                        <p class="card-text " style="font-weight: bold;color: gray;">Phone</p>
                                        <p class="card-text" style="display: inline;font-weight: bold;">KM Home-Work</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@(Model.Employee.KmHomeWork ?? 0)</p>
                                        <h5 class="mt-5">Marial Status</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Marial Status</p>
                                        <p class="card-text" style="display: inline;margin-left: 35px;">@Model.Employee.Marital</p>
                                        <br />
                                        <p class="card-text " style="font-weight: bold;display: inline;">Spouse Complete Name</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Employee.SpouseCompleteName</p>
                                        <br />
                                        <p class="card-text " style="font-weight: bold;display: inline;">Spouse Birthdate</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@(Model.Employee.SpouseBirthdate == null ? "--" : Model.Employee.SpouseBirthdate.Value.ToString("MM/dd/yyyy"))</p>
                                        <br />
                                        <p class="card-text " style="font-weight: bold;display: inline;">Second Spouse Complete Name</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Employee.XSpouseCompleteName</p>
                                        <br />
                                        <p class="card-text " style="font-weight: bold;display: inline;">Second Spouse Birthdate</p>
                                        @{
                                            DateTime? myDate = null;
                                            if (Model.Employee.XSpouseBirthdate != "" && Model.Employee.XSpouseBirthdate != null)
                                            {
                                                myDate = DateTime.ParseExact(Model.Employee.XSpouseBirthdate, "MM/dd/yyyy", System.Globalization.CultureInfo.InvariantCulture);

                                            }
                                        }
                                        @if (myDate != null)
                                        {
                                            <p class="card-text" style="display: inline;margin-left: 80px;">@myDate</p>

                                        }
                                        else
                                        {
                                            <p class="card-text" style="display: inline;margin-left: 80px;">--</p>

                                        }
                                        <h5 class="mt-5">Emergency </h5>
                                        <p class="card-text " style="font-weight: bold;color: gray;"> Emergency Contact</p>
                                        <p class="card-text " style="font-weight: bold;color: gray;">Emergency Phone</p>

                                        <h5 class="mt-5">Education </h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Certificate Level</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Employee.Certificate</p>
                                        <p class="card-text " style="font-weight: bold;color: gray;">Field Of Study</p>
                                        <p class="card-text " style="font-weight: bold;color: gray;">School</p>
                                    </div>
                                    <div class="col-6">
                                        <h5 class="mt-5">Citizenship</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Nationality (Country)</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.CountryName</p>
                                        <br />
                                        <p class="card-text" style="display: inline;font-weight: bold;">Identification No</p>
                                        <p class="card-text" style="display: inline;margin-left: 106px;">@Model.Employee.IdentificationId</p>
                                        <br />
                                        <p class="card-text" style="font-weight: bold;color: gray;">Passport No</p>

                                        <p class="card-text" style="display: inline;font-weight: bold;">Gender</p>
                                        <p class="card-text" style="display: inline;margin-left: 169px;">@Model.Employee.Gender</p>
                                        <br />
                                        <p class="card-text" style="display: inline;font-weight: bold;">Date of Birth</p>
                                        <p class="card-text" style="display: inline;margin-left: 135px;">@(Model.Employee.Birthday == null? "--" : Model.Employee.Birthday.Value.ToString("MM/dd/yyyy"))</p>
                                        <br />
                                        <p class="card-text m-0" style="font-weight: bold;color: gray;">Place Of Birth</p>
                                        <p class="card-text" style="font-weight: bold;color: gray;">Country Of Birth</p>
                                        <h5 class="mt-5">Dependant</h5>
                                        <p class="card-text" style="font-weight: bold; display:inline;">Number of Children</p>
                                        <p class="card-text" style="display: inline;margin-left: 80px;">@Model.Employee.Children</p>
                                        <table id="example" class="display  table-sm table-hover table-striped" style="width:100%;margin-top:18px!important">
                                            <thead>
                                                <tr>
                                                    <th>Dependant Name</th>
                                                    <th>Birth Date</th>
                                                    <th>Dependant Type </th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in Model.EmployeeDependents)
                                                {
                                                    <tr>
                                                        <td>@item.Name</td>
                                                        <td>@(item.Bdate == null? "--" : item.Bdate.Value.ToString("MM/dd/yyyy"))</td>
                                                        <td>@item.Type</td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                        <h5 class="mt-5">Work Permit</h5>
                                        <p class="card-text m-0" style="font-weight: bold;color: gray;"> Visa No</p>
                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;">Work Permit No</p>
                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;">Visa Expire Date</p>


                                    </div>

                                </div>
                            </div>


                        </div>
                        <div class="tab-pane fade" id="HR" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <h5 class="mt-5">Status</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">Related User</p>

                                        <p class="card-text" style="display: inline;margin-left: 80px;">
                                            <a href="/home/secondarydetail?id=@(@Model.RelatedUser.Id)">
                                                @Model.RelatedUser.Name
                                            </a>
                                        </p>

                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;"> Registration Number <br />of the Employee</p>



                                    </div>
                                    <div class="col-sm">
                                        <h5 class="mt-5">Attendence</h5>
                                        <p class="card-text" style="display: inline;font-weight: bold;">PIN</p>
                                        <p class="card-text" style="display: inline;margin-left: 138px;">@Model.Employee.Pin</p>
                                        <br />
                                        <p class="card-text" style="display: inline;font-weight: bold;">Badge ID</p>
                                        <p class="card-text" style="display: inline;margin-left: 106px;">@Model.Employee.Barcode</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane fade" id="Personal" role="tabpanel" aria-labelledby="contact-tab">
                            <div class="container">
                                <div class="row mt-4">
                                    <div class="col-6">
                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;"> Identity Card</p>
                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;"> Medical Insurance</p>
                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;"> Documents</p>
                                    </div>
                                    <div class="col-6">
                                        <p class="card-text m-0 " style="font-weight: bold;color: gray;"> Warnings and deductions</p>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-4">

        </div>

    </div>
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are You Sure To Delete Employee : &nbsp; @Model.Employee.Name
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a href="/home/DeleteEmployee/@Model.Employee.Id" class="btn btn-danger ml-2">Delete</a>
                </div>
            </div>
        </div>
    </div>
    
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#example').DataTable({
                paging: false,
                "lengthChange": false,
                searching: false, info: false
            }
            );

           
        });
    </script>
 }










